*~
elpa
recentf
projectile-bookmarks.eld
transient
GPATH
GTAGS
GRTAGS
TAGS
.emacs.desktop
history
places
.emacs.desktop.lock
*.cache
*.bak
smex-items
bookmarks
url
.lsp-session*
eshell
flycheck_init.el
.dap-*
eln-cache
custom.el
flycheck_init-program.el
server
projects
*.data
*.db
blink-search/
pyim
tutorial/
\#*\#
lsp-bridge
.mc-lists.el
*.sqlite
eww-bookmarks
rime
eaf/
emacs-application-framework
savefile
amx-items